.home {
  height: calc(100vh - 152px);
  header {
    display: flex;
    justify-content: center;
    img {
      width: 20%;
      margin-bottom: 3rem;
    }
  }
  .home__carousel {
    height: 50vh;
    display: flex;
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;

    .items {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
      height: 100%;
      .item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: 100%;
        overflow: hidden;
        transition: all 300ms ease-in-out;
        z-index: -1;
        opacity: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 100% 65%;
        }
      }
      .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        z-index: 100;
        .button {
          cursor: pointer;
          position: absolute;
          top: 50%;
          opacity: 0.75;
          padding: 1.5rem;
          transition: all 300ms ease-in-out;
          background-image: url(../assets/prev.svg);
          img {
            width: 100%;
            height: 100%;
          }
        }
        .prev {
          left: 5%;
          background-image: url(../assets/prev.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
        .next {
          left: 90%;
          background-image: url(../assets/next.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .button-container .button:hover {
        opacity: 1;
      }
    }
    .item.active {
      opacity: 1;
      z-index: 99;
      box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    }

    .item.prev {
      z-index: 2;
      opacity: 0.35;
      transform: translate(-125%, -50%);
    }

    .item.next {
      z-index: 2;
      opacity: 0.35;
      transform: translate(25%, -50%);
    }
  }
}

// ART

.art__section {
  min-height: calc(100vh - 152px);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 20%;
    margin-bottom: 3rem;
  }
  .art__block {
    width: 90vw;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    margin: 0 5rem;
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      height: 30vh;
      margin: 0 4rem;

      h3 {
        margin-bottom: 1rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}
.painting__modal {
  width: calc(100vw - 10rem);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  padding: 0 5rem;
  .painting__modal-button {
    border: none;
    background: transparent;
    padding: 3rem 0;
    font-size: 2rem;
    cursor: pointer;
  }
  .linea_cuadro-izq {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 45vh;
    margin-bottom: 5rem;
    .wide__img {
      width: 47%;
      height: 100%;
      margin-right: 3%;
      object-fit: cover;
      margin-bottom: 0;
    }
    .narrow__img {
      width: 24%;
      height: 100%;
      margin-right: 3%;
      object-fit: cover;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
      line-height: 1.5rem;
      width: 22%;
    }
  }
  .linea_cuadro-drch {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 45vh;
    margin-bottom: 5rem;

    .wide__img {
      width: 47%;
      height: 100%;
      margin-left: 3%;
      object-fit: cover;
      margin-bottom: 0;
    }
    .narrow__img {
      width: 24%;
      height: 100%;
      margin-left: 3%;
      object-fit: cover;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
      line-height: 1.5rem;
      width: 22%;
      text-align: end;
    }
  }
}

// GRABADOS

.grabados__section {
  height: calc(100vh - 152px);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 20%;
    margin-bottom: 0rem;
  }
  .grabado__list {
    display: flex;
    justify-content: center;
    height: 65vh;

    #article__destacadas {
      text-align: center;
      position: relative;
      border: none;
      margin: 0 2rem;
      cursor: pointer;
      .articleCard {
        height: calc(100% - 24px);
        width: 30vw;
        margin: 1.5rem 1rem;
        text-align: center;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      h2 {
        font-size: 2rem;
        display: table-cell;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        position: absolute;
        vertical-align: middle;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        line-height: 1;
        text-transform: uppercase;
        visibility: hidden;
      }
    }
  }

  #article__destacadas:hover .articleCard {
    opacity: 0.1;
  }
  #article__destacadas:hover h2 {
    visibility: visible;
  }
  .grabados__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: white;
    button {
      padding: 4rem;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .grabados__modal-block {
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      .grabados__modal-main {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          height: 50vh;
          width: 50vw;
        }
        h4 {
          margin-bottom: 0;
        }
      }
      .prev__img {
        height: 5vh;
        object-fit: contain;
      }
      .next__img {
        height: 5vh;
        object-fit: contain;
      }
    }
  }
}

// BIO

.bio__section {
  height: calc(100vh - 152px);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 20%;
    margin-bottom: 3rem;
  }
  .bio__info {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin: 0 5rem;
    img {
      width: 50%;
      object-fit: contain;
    }
    .bio__text {
      width: 35%;
      p {
        text-align: justify;
      }
    }
  }
}

// CONTACT

// ART

.contact__section {
  height: calc(100vh - 152px);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 20%;
    margin-bottom: 3rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    .form-line {
      display: flex;
      width: 600px;
      input {
        padding: 0px 30px;
        line-height: 42px;
        margin: 10px;
        border: none;
        width: 100%;
        background: #f4f4f4;
        border-radius: 50px;
      }
      textarea {
        padding: 0px 30px;
        line-height: 42px;
        margin: 10px 10px 30px 10px;
        border: none;
        width: 100%;
        background: #f4f4f4;
        border-radius: 25px;
      }
    }
    .contactForm__btn {
      border: none;
      background-color: #dbc2a6;
      color: black;
      line-height: 42px;
      width: 288px;
      margin-bottom: 100px;
      border-radius: 50px;
    }
    ::placeholder {
      color: black;
      font-family: Montserrat;
    }
  }
}
